<section class="relative h-full flex items-center justify-center">
  <app-go-back></app-go-back>
  <form
    class="flex flex-col basis-1/4 space-y-10 text-4xl"
    [formGroup]="lobbyForm"
    (ngSubmit)="createLobby()">
    <label for="lobbyName">Name of the room</label>
    <input
      type="text"
      class="input"
      formControlName="name"
      placeholder="Enter Name"
      id="lobbyName" />
    <button class="btn btn-secondary" type="submit">Create Lobby</button>
  </form>
</section>
