<div
  class="flex flex-col justify-end h-2/3 basis-1/2 p-5 bg-opacity-40 m-5 rounded-lg transition-colors"
  [ngClass]="{
    'bg-black': gamePhase === 'night',
    'bg-amber-300': gamePhase === 'day'
  }">
  <div class="flex items-end h-full overflow-auto mb-12 scroll-m-1" #scroll>
    <ul
      class="flex flex-col justify-end mt-auto"
      *ngIf="messages$ | async as messages">
      <li class="flex space-x-5" *ngFor="let message of messages">
        <span *ngIf="message.username"> {{ message.username }}: </span>
        <span
          [ngClass]="{
            'text-amber-300': !message.username
          }">
          {{ message.message }}
        </span>
      </li>
    </ul>
  </div>
  <form [formGroup]="messageForm" (ngSubmit)="sendMessage()">
    <div class="relative">
      <input
        [attr.disabled]="cantWrite() ? true : null"
        class="w-full px-5 py-3 color-white rounded-lg bg-opacity-50 placeholder-white focus:outline-0"
        type="text"
        placeholder="Write a message..."
        formControlName="message"
        [ngClass]="{
          'bg-fuchsia-400': gamePhase === 'night',
          'bg-amber-300': gamePhase === 'day'
        }" />
      <button type="submit" class="absolute top-3 right-4">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </form>
</div>
