<section class="h-full flex items-end" *ngIf="gamePhase$ | async as gamePhase">
  <div
    class="h-full basis-1/2 bg-opacity-40"
    [ngClass]="{
      'bg-black': gamePhase === 'night',
      'bg-amber-300': gamePhase === 'day'
    }">
    <div
      class="h-full flex flex-col justify-between text-xl py-24 px-10"
      *ngIf="currentLobby$ | async as lobby">
      <div class="flex flex-col space-y-6">
        <h2>
          Lobby name: <span class="ml-10">{{ lobby.name }}</span>
        </h2>
        <div class="">
          <p class="mb-10">Players:</p>
          <ul>
            <li
              class="flex justify-between mb-5"
              *ngFor="let player of lobby.players; let i = index">
              <p>
                <span class="mr-5"> {{ i + 1 }}. </span>
                {{ player.username }}
              </p>
              <button
                class="btn rounded-md bg-white bg-opacity-80"
                *ngIf="lobby.host === player.username">
                some action
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <app-game-chat [gamePhase]="gamePhase"></app-game-chat>
</section>
