@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d11157;
  --secondary: #d57c9c;
  --white-transparent: rgba(255, 255, 255, 0.8);
}

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  color: white;
}

.btn {
  &-primary {
    background-color: rgba(209, 17, 87, 0.4);
    @apply block w-full rounded-3xl px-5 py-3 text-sm font-medium text-white uppercase;
  }

  &-secondary {
    background-color: var(--secondary);
  }

  &-tertiary {
    color: black;
    background-color: var(--white-transparent);
  }
}

.input {
  background-color: rgba(217, 217, 217, 0.7);
  @apply w-full rounded-3xl p-4 pr-12 text-sm shadow-sm focus:outline-none placeholder-white;
  &-error {
    @apply absolute -bottom-6 left-1 text-red-500 text-sm;
  }
}

.form {
  &-form {
    @apply mb-0 space-y-8 rounded-lg p-8;
  }

  &-title {
    @apply text-2xl font-medium text-white text-center;
  }

  &-label {
    @apply pl-5 text-sm font-medium;
  }

  &-card {
    @apply mx-auto max-w-sm w-full;
  }
}
