@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #d11157;
  --secondary: #d57c9c;
  --white-transparent: rgba(255, 255, 255, 0.8);
}

html,
body {
  height: 100%;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  color: white;
}

*::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.btn {
  @apply rounded-3xl px-5 py-2;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &-action {
    @apply bg-white rounded-3xl px-2 text-black text-sm;
    &.red {
      @apply text-red-500;
    }
  }

  &-primary {
    background-color: rgba(209, 17, 87, 0.4);
    @apply block w-full rounded-3xl px-5 py-3 text-sm font-medium text-white uppercase;
  }

  &-secondary {
    background-color: var(--secondary);
  }

  &-tertiary {
    color: black;
    background-color: var(--white-transparent);
  }
}

.input {
  background-color: rgba(217, 217, 217, 0.7);
  @apply w-full rounded-3xl p-4 pr-12 text-sm shadow-sm focus:outline-none placeholder-white;
  &-error {
    @apply absolute -bottom-6 left-1 text-red-500 text-sm;
  }
}

.form {
  &-form {
    @apply mb-0 space-y-8 rounded-lg p-8;
  }

  &-title {
    @apply text-2xl font-medium text-white text-center;
  }

  &-label {
    @apply pl-5 text-sm font-medium;
  }

  &-card {
    @apply mx-auto max-w-sm w-full;
  }
}
